<div class="jumbotron jumbotron-extend m-0">
      <div class="container-fluid jumbotron-container">
        <h1 class="text-light">TOFU.HUB</h1>
        <h2 class="text-light">あなたに最高の豆腐を</h2>
        <%# <a class="btn btn-primary btn-lg" href="#" role="button">Learn more </a> %>
<ul class="nav">
    <li class="nav-item">
      <%= link_to shops_path, class: "nav-link" do %>
        <%# <button class="btn btn-link btn-lg">Learn more »</button> %>
        <h2><%= link_to "Go Tofu »", shops_path, class: "text-white kasen border-h" %></h2>
      <% end %>
    </li>
  </ul>
  </div>
</div>


