<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/shops">TOFU.HUB</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    
    <%= search_form_for @q ,class: "nav-item form-inline mb-2 mb-lg-0" do |f| %>
      <%= f.search_field :store_name_or_address_cont, class: "form-control mr-sm-2", placeholder: "キーワードで検索" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</nav>